<!-- Shopping Cart Item -->
<tr>
    <!-- Shopping Cart Item Image -->
    <td class="image"><a href="page-product-details.html"><img src="#IMAGEPATH#" alt="#NAME#"></a></td>
    <!-- Shopping Cart Item Description & Features -->
    <td>
        <div class="cart-item-title"><a href="page-product-details.html">#NAME#</a></div>
        <div class="feature color">
            Color: <span class="color-#COLOR#"></span>
        </div>
    </td>
    <!-- Shopping Cart Item Quantity -->
    <td class="quantity">
        <input class="form-control input-sm input-micro" disabled type="text" value="#QUANTITY#">
    </td>
    <!-- Shopping Cart Item Price -->
    <td class="price"><div class="p-type">Net:</div> &euro;#PRICENETTO#</td>
    <td class="price"><div class="p-type">Gross:</div> &euro;#PRICEBRUTTO#</td>
    <!-- Shopping Cart Item Actions -->
    <td class="actions">
        <a href="javascript:void(0);" class="btn btn-xs btn-grey b-item-delete" data-id="#B_ID#"><i class="glyphicon glyphicon-trash"></i></a>
    </td>
</tr>
<!-- End Shopping Cart Item -->