<div class="col-md-3 col-sm-6">
    <!-- Product -->
    <div class="shop-item">
        <!-- Product Image -->
        <div class="shop-item-image">
            <a href="page-product-details.html"><img src="#IMAGEPATH#" alt="#NAME#"></a>
        </div>
        <!-- Product Title -->
        <div class="title">
            <h3><a href="page-product-details.html">#NAME#</a></h3>
        </div>
        <!-- Product Available Colors-->
        <div class="colors">
            <span class="color-#COLOR#"></span>
        </div>
        <!-- Product Price-->
        <div class="netto-price price">
            Net: &euro;#PRICENETTO#
        </div>
        <div class="price">
            Gross: &euro;#PRICEBRUTTO#
        </div>
        <!-- Add to Cart Button -->
        <div class="actions">
            <a href="javascript:void(0);" class="btn btn-small add-to-bsk" data-id="#ID#"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a>
        </div>
    </div>
    <!-- End Product -->
</div>